body {
    border: 1px solid red;
}
div.container {
    width: 20%;
    background-color: darkgray;
    margin-left: 10px;
}
div.container h4 {
    color: blue;
}
#countries {
    text-decoration: none;
    list-style-type: none;
}